$clr-gray-1: #f1f5f8;
$clr-pink-1: #ffe0f0;
$clr-pink-2: #da4a91;
$clr-purple-1: #e6e6ff;
$clr-purple-2: #5d55fa;
$clr-green-1: #2caeba;
$clr-green-2: #e0fcff;
$clr-yellow-1: #fffbea;
$clr-yellow-2: #f0b429;

$font-clr-1: #808080;
