@import "variables";

.info-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem 2rem;
  @media (min-width: 640px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.info-card-container {
  text-align: center;
}

.info-icon-row {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .info-icon-col {
    display: grid;
    align-items: center;
    place-items: center;
    column-gap: 1rem;
    row-gap: 1rem;

    .info-icons {
      font-size: 1.5rem;
      width: 3.5rem;
      height: 3.5rem;
      display: grid;
      place-items: center;
      border-radius: 50%;
    }
  }
}

.info-icon-purple {
  background: $clr-purple-1;
  color: $clr-purple-2;
}

.info-icon-green {
  background: $clr-green-1;
  color: $clr-green-2;
}

.info-icon-pink {
  background: $clr-pink-1;
  color: $clr-pink-2;
}

.info-icon-yellow {
  background: $clr-yellow-1;
  color: $clr-yellow-2;
}

.info-col {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;

  h3 {
    margin: 0;
  }

  p {
    margin: 0;
    color: $font-clr-1;
  }
}
