@import 'variables';

.search-wrapper{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;

    @media (max-width: 640px){
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

.search-wrapper > span{
    display: grid;
    grid-template-columns: 10fr 1fr;
    
    button{
        margin-left: .3rem;
    }
}

.search-wrapper > h3{
    text-align: center;
    color: $clr-gray-3;
}

.error-msg {
    color : $clr-red-1;
}